@media screen and (max-height:850px){
    .all{
        margin-top: 15px;
    }
}
@media screen and (max-height:740px){
    .all{
        margin-top: 0px;
    }
    .big_column .big_column__left {
        
        /* width: 80%; */
        margin-top: 10px;
    }
    .big_column {
        margin-top: 10px;
        font-size: 1rem!important;
    }
    .big_column .big_column__in {
        padding:  0;
    }
}
