.form {
	width: 95%;
	height: 100%;
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	margin: 0 auto;
}
.form .left {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.form .left .user {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form .left .user .full_user_caption {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.form .left .user .full_user_caption img {
	width: 42px;
	height: 42px;
}
.form .left .user .full_user_caption h2 {
	width: 90%;
	font-size: 22px;
	color: #2b083c;
	font-weight: 600;
	font-family: "Inter", sans-serif;
}
.form .left .user .inputs {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.form .left .user .inputs .form_user_labels {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	color: #2b083c;
	margin-top: 10px;
}
.form .left .user .inputs .form_user_labels input {
	width: 70%;
	font-size: 13px;
	font-weight: 700;
	color: #757575;
	text-align: center;
	border: none;
	margin-top: 5px;
	border-bottom: 1px solid black;
}
.form .left .user .inputs .form_user_labels input[type=number]::-webkit-outer-spin-button,
.form .left .user .inputs .form_user_labels input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.form .left .user .inputs .form_user_labels input[type=number] {
	-moz-appearance: textfield;
}
.form .left .form_gender {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.form .left .form_gender p {
	font-size: 22px;
	font-weight: 600;
}
.form .left .form_gender .radio {
	width: 100%;
}
.form .left .form_gender .radio input {
	margin-right: 5px;
}
.form .left .form_gender .radio label {
	margin-right: 10px;
	font-size: 20px;
	font-weight: 500;
}
.form .left .form_ages {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form .left .form_ages label {
	font-size: 22px;
	font-weight: 600;
	color: #2b083c;
}
.form .left .form_ages input {
	width: 30px;
	height: 30px;
	font-size: 13px;
	font-weight: 700;
	color: #2b083c;
	text-align: center;
	background: #eff2ff;
	box-shadow: inset 0px 4px 4px rgba(29, 2, 44, 0.25);
	border-radius: 9px;
	border: none;
}
.form .left .form_ages input[type=number]::-webkit-outer-spin-button,
.form .left .form_ages input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.form .left .form_ages input[type=number] {
	-moz-appearance: textfield;
}
.form .right {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.form .right .img_box {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.form .right .img_box img {
	min-width: 42px;
	max-width: 50px;
	min-height: 42px;
	max-height: 50px;
	align-self: flex-start;
}
.form .right .img_box h2 {
	width: 89%;
	font-size: 22px;
	color: #2b083c;
	font-weight: 600;
	font-family: "Inter", sans-serif;
}
.form .right .img_box .form_right_imgProfile {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.form .right .img_box .form_right_imgProfile .one, .form .right .img_box .form_right_imgProfile .two {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.form .right .img_box .form_right_imgProfile .one .avatar_1, .form .right .img_box .form_right_imgProfile .two .avatar_1 {
	background: url(../assets/user_ava_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.form .right .img_box .form_right_imgProfile .one .avatar_2, .form .right .img_box .form_right_imgProfile .two .avatar_2 {
	background: url(../assets/user_ava_2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.form .right .img_box .form_right_imgProfile .one .avatar_3, .form .right .img_box .form_right_imgProfile .two .avatar_3 {
	background: url(../assets/user_ava_3.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.form .right .img_box .form_right_imgProfile .one .avatar_4, .form .right .img_box .form_right_imgProfile .two .avatar_4 {
	background: url(../assets/user_ava_4.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.form .right .img_box .form_right_imgProfile .one .avatar_5, .form .right .img_box .form_right_imgProfile .two .avatar_5 {
	background: url(../assets/user_ava_5.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.form .right .img_box .form_right_imgProfile .one .avatar_6,.form .right .img_box .form_right_imgProfile .two .avatar_6 {
	background: url(../assets/user_ava_6.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.form .right .img_box .form_right_imgProfile .one input[type=radio], .form .right .img_box .form_right_imgProfile .two input[type=radio] {
	-webkit-appearance: none;
}
.form .right .img_box .form_right_imgProfile .one input[type=radio]:checked + label span, .form .right .img_box .form_right_imgProfile .two input[type=radio]:checked + label span {
	display: flex;
}
.form .right .img_box .form_right_imgProfile .one label {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.form .right .img_box .form_right_imgProfile .one label span {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	background-color: #00000050;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 0.5s ease-in;
}
.form .right .img_box .form_right_imgProfile .one label span img {
	width: 50%;
	height: 50%;
	transform: translateX(35%);
}
.form .right .img_box .form_right_imgProfile .two {
	margin-top: 10px;
}
.form .right .img_box .form_right_imgProfile .two label {
	width: 70px;
	height: 70px;
	background: url(../assets/user_ava_2.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.form .right .img_box .form_right_imgProfile .two label span {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	background-color: #00000050;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 0.5s ease-in;
}
.form .right .img_box .form_right_imgProfile .two label span img {
	width: 50%;
	height: 50%;
	transform: translateX(35%);
}
.form .right .email {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.form .right .email label {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	z-index: 9999;
}
.form .right .email label input {
	background: #f8f2fc;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 5px 0;
	padding-left: 20px;
	font-size: 17px;
	font-weight: 600;
	margin-top: 10px;
	border: none;
}
.form .right .email label input::placeholder {
	font-weight: bold;
}
.form .right .email label {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	z-index: 9999;
}
.form .right .email label input {
	background: #f8f2fc;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 5px 0;
	padding-left: 20px;
	font-size: 17px;
	font-weight: 600;
	margin-top: 10px;
	border: none;
}
.form .right .email label input::placeholder {
	font-weight: bold;
}
.form .right .email label {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
	z-index: 9999;
}
.form .right .email label input {
	background: #f8f2fc;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 5px 0;
	padding-left: 20px;
	font-size: 17px;
	font-weight: 600;
	margin-top: 10px;
	border: none;
}
.form .right .email label input::placeholder {
	font-weight: bold;
}
.form .right .email label:nth-child(3) span {
	font-size: 15px;
	font-weight: 600;
	color: #2b083c;
	text-align: center;
}
.form .right .email label:nth-child(3) span a {
	color: red;
	text-decoration: none;
	text-transform: none;
	font-weight: 700;
}
.form .right .email label:nth-child(3) span a a:hover {
	text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */

@media (min-width:1200px){
	.form .left .user .inputs .form_user_labels {
		font-size: 16px;
	}
	.form .left .user .full_user_caption {
		display: flex;
		align-items: center;
	}
	.form .left .user .full_user_caption img {
		width: 35px;
		height: 35px;
	}
	.form .left .user .full_user_caption h2 {
		font-size: 18px;
	}
	.form .right .img_box {
		align-items: center;
	}
	.form .right .img_box img {
		width: 7px;
		height: 7px;
	}
	.form .right .img_box h2 {
		font-size: 16px;
	}
}
@media screen and (min-height: 650px) and (max-height: 740px){	
	.form{
		padding-top: 10px;
	}
	.form .right .email label input{
		width: 60%;
	}
}