.navbar-main {
    position: fixed;
    z-index: 200;
    top: 60px;
    right: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    animation: visibility 4s ease;
}
.navbar-fade {
    visibility: hidden;
    opacity: 0;
    animation: fade-visibility 6s ease;
}
.navbar-more {
    position: fixed;
    z-index: 200;
    left: 21%;
    bottom: 15%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    animation: visibility 4s ease;
}

.navbar-main .about a{
    margin-right: 70px;
    padding: 10px 50px;
    font-weight: 700;
    border-radius: 50px;
    font-size: 33px;
    color: #fff;
    z-index: 90;
    text-decoration: none;
}

.navbar-main li,
.navbar-more li {
    cursor: pointer;
}

.navbar-main .lets a {
    color: rgb(47, 8, 63);
    background-color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 33px;
    font-weight: 700;
    text-decoration: none;
}

.navbar-more li{
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50px;
    padding: 10px 50px;
    font-size: 27px;
}

.navbar-more li:hover{
    color: rgb(47, 8, 63);
    background-color: #fff;
}