.privacy {
	width: 95%;
	margin: 0 auto;
	text-align: center;
}
.text-ceter {
	margin-top: 0;
}
.privacy .text_block{
	padding: 20px;
	border-radius: 35px;
	background: #FFFFFF;
	text-align: left;
	font-weight: 500;
	line-height: 1.3;
}


@media (min-width:1200px) {
	.privacy .text_block{
		padding: 20px;
		line-height: 1;
		font-size: 16px;
		height: 75vh;
		overflow: auto;
	}
}