.terms {
	width: 95%;
	margin: 0 auto;
	text-align: center;
}
.text-ceter {
	margin-top: 0;
	margin-bottom: 20px;
}
.terms .text_block{
	padding: 30px;
	border-radius: 35px;
	background: #FFFFFF;
	text-align: left;
	line-height: 1.1;
}

@media (min-width:1200px) {
	.terms {
		width: 95%;
	}
	.text-ceter {
		margin-bottom: 30px;
	}
	.terms .text_block{
		padding: 20px;
		line-height: 1;
		font-size: 16px;
		height: 75vh;
		overflow: auto;
	}	
}