.sidebarBg--register {
	background: url("../assets/bg_masjid\ \(3\).png") no-repeat center;
	position: relative;
	background-size: cover;
	background-position: 0;
	width: 93%;
	height: 100%;
	overflow: hidden;
	z-index: 101;
}
.sidebarBg--nigth {
	background: url("../assets/sidebar-night-mode.png") no-repeat center;
	position: relative;
	background-size: cover;
	background-position: 0 -270px;
	height: 100%;
	overflow: hidden;
	z-index: 10;
}
.sidebarBg--nigth.down {
	/* background-position: 0 -185px;
	animation: goingdown 1s ease; */
	
	background-position: 0 50%;
	animation: goingdown 0.5s ease;
}
.sidebarBg--ligth {
	background: url("../assets/sidebar-light-mode.png") no-repeat center;
	position: relative;
	background-size: cover;
	background-position: 0;
	height: 100%;
	z-index: 9;
	overflow: hidden;
}
.sidebarBg--ligth.top {
    animation: goingtop 0.5s ease;
	background-position: 0;
	
}
.sideBarAnimation .cloud {
	background: url("../assets/cloud1.png") no-repeat center;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100px;
	top: -4%;
}
.sideBarAnimation .cloud1 {
	background: url("../assets/cloud3.png") no-repeat center;
	background-size: cover;
	position: absolute;
	width: 100%;
	width: 70%;
	height: 150px;
	top: 15%;
	right: 0;
}
/* .sideBarAnimation .moon {
	background: url("../assets/moon.png") no-repeat center;
	position: absolute;
	width: 100%;
	background-size: contain;
	height: 35%;
	width: 35%;
	top: 15%;
	left: 0%;
} */

.sideBarAnimation .moon {
	background: url("../assets/moon.png") no-repeat center;
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 35%;
	width: 35%;
	top: 15%;
	left: 0%;
	
}
.sideBarAnimation .moon.animate {
	transform-origin: top left;
	transform: rotate(15deg);
	animation: animateMoon 1s ease;
}
.sideBarAnimation .moon.default {
	transform: rotate(0deg);
	transform-origin: top;
	animation: default 1.2s ease;
}
.sideBarAnimation .stars {
	background: url("../assets/stars.png") no-repeat center;
	background-size: 250px;
	transform: rotate(120deg);
	position: absolute;
	height: 35%;
	width: 100%;
	top: -2%;
	left: 5%;
}
.sideBarAnimation .stars.animate {
	transform-origin: top left;
	transform: rotate(15deg);
	animation: animateMoon 1s ease;
}
.sideBarAnimation .stars.default {
	transform: rotate(0deg);
	transform-origin: top;
	animation: default 1.2s ease;
}
.sideBarAnimation .cloud2 {
	background: url("../assets/cloud2.png") no-repeat center;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 95px;
	top: 43%;
}
.way-wrapper.calculate .way {
	width: 93%;
}
.sideBarAnimation .way {
	background: url("../assets/way.png") no-repeat center;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: -7%;
}
.sideBarAnimation .tower {
	background: url("../assets/tower.png") no-repeat center;
	background-size: 79%;
    position: absolute;
    width: 100%;
    width: 18%;
    background-position: 84% 50%;
    height: 46%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4%;
}
.sideBarAnimation .little-tower-left {
	background: url("../assets/tower.png") no-repeat center;
	background-size: 50px;
	position: absolute;
	width: 28%;
	height: 45%;
	left: 20%;
	transform: translateX(-30%);
	bottom: -3%;
	opacity: 0.3;
}

.sideBarAnimation .little-tower-right {
	background: url("../assets/tower.png") no-repeat center;
	background-size: 50px;
	position: absolute;
	width: 100%;
	width: 18%;
	height: 45%;
	left: 80%;
	transform: translateX(-50%);
	bottom: -3%;
	opacity: 0.3;
}

.bg-root{
	position:absolute;
	left: 0;
	background: url("../assets/sidebar-light-mode.png") no-repeat center;
	background-size: cover;

}

@keyframes default {
	0% {
		transform-origin: top left;
		transform: rotate(10deg);
	}
	100% {
		transform-origin: top;
		transform: rotate(0deg);
	}
}
@keyframes animateMoon {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform-origin: top left;
		transform: rotate(15deg);
	}
}

@keyframes goingdown {
	0% {
		background-position: 0 -140px;
		transition: all 1s ease-in-out;
	}
	100% {
		background-position: 0 50%;
		transition: all 1s ease-in-out;
	}
}
@media screen and (max-height:1050px){
	@keyframes goingdown {
		0% {
			background-position: 0 -200px;
		}
		100% {
			background-position: 0 50%;
		}
	}
}
@media screen and (max-height:940px){
	@keyframes goingdown {
		0% {
			background-position: 0 68%;
		}
		100% {
			background-position: 0 50%;
		}
	}
}
@media screen and (max-height:774px){
	@keyframes goingdown {
		0% {
			background-position: 0 63%;
		}
		100% {
			background-position: 0 50%;
		}
	}
}
@media screen and (min-height:1012px){
	.way-wrapper.calculate .way {
		width: 100%;
	}
}
@keyframes goingtop {
	0% {
		background-position: 0 5px;
		transition: all 1s ease-in-out;
	}
	100% {
		background-position: 0 50%;
		transition: all 1s ease-in-out;
	}
}

@media screen and  (max-height:1120px){
	@keyframes goingtop {
		0% {
			background-position: 0 -25px;
		}
		100% {
			background-position: 0 50%;
		}
	}
}
@media screen and  (max-height:1140px){
	@keyframes goingtop {
		0% {
			background-position: 0 25%;
		
		}
		100% {
			background-position: 0 50%;
			
		}
	}
}
@media screen and  (max-height:895px){
	@keyframes goingtop {
		0% {
			background-position: 0 35%;
		}
		100% {
			background-position: 0 50%;
		}
	}
}
@media screen and  (max-height:895px){
	@keyframes goingtop {
		0% {
			background-position: 0 35%;
		}
		100% {
			background-position: 0 50%;
		}
	}
}


@media screen and (max-height:698px){
	
	.sidebarBg--register .moon {
		left: -9px;
	}
	
}
@media screen and (max-height:836px){
	
	.sideBarAnimation .moon{
		left: -4%;
	}
	
}