.val-section{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.bg-img{
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}
.val-content{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.val-section .val-content .val-text {
    user-select: none;
    height: 76%;
    width: 34%;
    position: absolute;
    top: 6%;
    left: 8%;
    z-index: 200;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0;
    padding-bottom: 12px;
    background-color: rgb(35, 81, 129);
    opacity: 0.9;
    border-radius: 15%;
}
.mountain-img{
    position: absolute;
    bottom: -2%;
    right: 0%;
    background-image: url("./assets/mountains.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    width: 100%;
    height: 70%;
}
.val-img-castle img{
    position: absolute;
    bottom: 12%;
    right: 5%;
    width: 45%;
    height: 70%;
}
.val-moon img{
    position: absolute;
    top: 3%;
    right: 15%;
    width: 5%;
    height: 12%;
}
.val-bottom-half-tree img{
    position: absolute;
    right: -0.5%;
    bottom: 30%;
    width: 3%;
    height: 10%;
}
.val-center-half-tree img{
    position: absolute;
    right: -1%;
    bottom: 0;
    width: 5%;
    height: 20%;
}
.val-tree img{
    position: absolute;
    bottom: 0;
    left: 38%;
    width:10%;
    height: 30%;
}
.val-clear-icon{
    position: absolute;
    top: 0;
    left: -1.5%;
    cursor: pointer;
}
.val-title{
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    font-weight: bold;
    padding-top: 20px;
}
.val-main-text{
    padding-left: 15px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1.3;
    white-space: nowrap;
}
.val-text form {
    display: flex;
    flex-direction: column;
    height: 84%;
    justify-content: space-between;
}
.form-icon{
    display: flex;
    height: 74%;
    justify-content: space-between;
    flex-direction: column;
}
.val-all-text-wrapper{
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.inputFirstName{
    width: 70%;
    padding: 7px;
    border-radius: 15px;
    outline: none;
    line-height: 1 !important;
    font-size: 12px;
    border: none
}
.inputSurname{
    width: 70%;
    padding: 7px;
    border-radius: 15px;
    outline: none;
    border: none;
    line-height: 1 !important;
    font-size: 12px;
}
.message-text{
    width: 97%;
    padding: 7px;
    border-radius: 15px;
    outline: none;
    line-height: 1 !important;
    font-size: 12px;
    resize: none !important;
}
.submitButton{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.submitButton button {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    outline: none;
}
.social-icons{
   display: flex;
   width: 36%;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   margin-top: 24px;
}

@media screen and (min-width: 1200px) and (max-width: 1250px){
    .val-main-text{
        padding-left: 2px;
    }
}
