.App {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left_angle {
    height: 45%;
    position: absolute;
}

.man {
    height: 75%;
    position: absolute;
    right: -5vw;
    bottom: -0.1vh;
}

.p_1 {
    position: absolute;
    font-size: 1.8rem;
    bottom: 77%;
    z-index: 1;
    left: 30vw;
}

.p_2 {
    position: absolute;
    font-size: 1.5rem;
    bottom: 35%;
    left: 17vw;
    z-index: 1;
}

.p_2 span {
    color: darkorchid;
    font-weight: bold;
}

.p_3 {
    font-weight: bold;
    z-index: 1;
    position: absolute;
    font-size: 1.5rem;
    bottom: 15%;
    left: 3vw;
}

.enter_btn {
    width: 150px;
    height: 50px;
    font-weight: bold;
    outline: none;
    position: absolute;
    z-index: 1;
    background: none;
    border: solid white;
    border-radius: 50px;
    bottom: 20px;
    right: 20px;
}

.enter_btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

.enter_btn a:hover {
    text-decoration: none;
    color: white;
}

.enter_btn span {
    font-size: 2rem;
    margin-left: 5px;
}

@media (min-height: 800px) {
    .left_angle {
        height: 40%;
    }

    .man {
        height: 70%;
    }
}

@media (min-height: 900px) {
    .p_1 {
        font-size: 2rem;
        bottom: 80%;
    }

    .p_2 {
        font-size: 1.7rem;
        bottom: 40%;
    }

    .p_3 {
        font-size: 1.7rem;
        bottom: 20%;
    }

    .left_angle {
        height: 35%;
    }

    .man {
        height: 65%;
    }
}

@media (max-width: 1400px) and (min-height: 740px) {
    .left_angle {
        height: 35%;
    }

    .man {
        height: 65%;
    }
}

@media (max-width: 1500px) and (min-height: 950px) {
    .left_angle {
        height: 30%;
    }

    .man {
        height: 60%;
    }
}